@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --list-name-color: #f8f8ff;
}

body{
    min-height: 60vh;
    max-height: 100vh;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    background: url(img/pexels-pixabay-235985.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.row{
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.first{
    width: calc(33.33% - 20px);
    margin: 0 10px;
}

.list{
    width: calc(100%);
    background-color:rgba(0, 0, 0, 0.215);
    margin: 10px 0;
}


.listbuttoncss{
    text-align: center;
    padding: 4px 8px;
    margin: 2px 0;
    border-bottom: 2px dotted #030000;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listbuttoncss i{
    font-size: 2.5vw;
}



.listcss{
    font-size: 2.5vw;
    color: var(--list-name-color);
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1% 4%;
}

.flashcontrolbutton{
    border: 1px solid black;
}


.list_items{
    width: 100%;
}

.list-items{
    display: none;
    color: white;
}

.list-item{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    text-transform: capitalize;
}

.price{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.price:nth-child(1){
    font-weight: 600;
    font-family: 'Merriweather', serif;
    font-size: 2vw;
}

.content p{
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 1.4vw;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    max-width: 80%;
}

.favorite::after{
    content: "🌟";
}

/*.content span{
    height: 1px;
    width: 200px;
    color: white;
    background-color: white;
    margin: 10px 0 5px 0;
}*/



@media (max-width:1000px) {
    .first{
        width: calc(49.99% - 20px);
        margin: 0 10px;
    }
    
}

@media (max-width:640px) {

    .first{
        width: calc(99.99% - 20px);
    }

    .price:nth-child(1){
        font-weight: 600;
        font-family: 'Merriweather', serif;
        font-size: 5vw;
    }

    .listcss{
        font-size: 6vw;
        color: var(--list-name-color);
        background-color: transparent;
        border: 1px solid transparent;
        padding: 1% 3%;
    }

    .listbuttoncss i{
        font-size: 6vw;
    }

    .content p{
        font-family: 'Caveat', cursive;
        font-weight: 400;
        font-size: 3vw;
    }
    
}

